body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

td {
	height: 50px;
	width: 50px;
	text-align: center;
	background: red;
	transition: .5s ease .1s;
}
td.hidden {
	opacity: 0;
}
